.top{
	height: 40px;
	background: #fecb16;
}
 div,ul,li,h3{margin:0;padding: 0}
#odiv{width:100%;height:40px;position: relative;overflow: hidden ;}
#odiv ul{position: absolute;left:0;top:0}
#odiv ul li{list-style: none;color: #ff0000;font-size: 20px;line-height: 40px;float:left;padding-left:30px;}
.navbar{
	border-radius: 0;
}
.navbar-inverse .navbar-toggle{
	border-color: #fff;
}
.navbar-brand{
	padding: 0;
	height: 60px;
}
.navbar-brand{
	padding-top: 8px;
}
.navbar-nav>li>a {
	line-height: 60px;
	padding: 0 20px;	
}
.navbar-nav>li{
	line-height: 60px;
	color: #fff;
}
.navbar-nav>li>a>img{
	padding-top: 8px;
}
.navbar-inverse .navbar-nav>li>a{
	color: #fff;
}
.navbar-inverse{
	background: #000000;
}
.navbar-nav .active{
	background: #3f3f3f;
}
.navbar-nav .hot{
	background: url(../img/bf_06.jpg)no-repeat right 10px;
}
.navbar-nav .zx{
	background: url(../img/bf_09.jpg)no-repeat left center;
	padding-left: 30px;
	margin-left: 15px;
}
.navbar-form .img-responsive{
	display: inline;
}
.form-control{
	background: #000;
	border: 0;
	border-bottom: 1px solid #fff;
	border-radius: 0;
}
#list .container{
	margin-top: 40px;
}
#list .hidden-xs{
	padding-bottom: 20px;
	border-bottom: 1px solid #cccccc;
}
#list .type{
	padding-top: 10px;
}
#list span{
	padding-top: 15px;
	font-weight: bold;
}
#list .col-lg-11 .active a{
	color: #fff;
	background: #188eee;
	border-radius: 0;
}
#list  .col-lg-11 a{
	color: #000;
}
#main .container{
	padding-top: 30px;
}
#main{
	background: #f2f2f2;
}
#main .show{
	/*height: 378px;*/
	margin-bottom: 20px;
	margin-top: 20px;
	background: #fff;
}
#main .show p{
	color: #000;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	padding: 35px 60px 10px 20px;
	line-height: 26px;
}
#main .show span{
	color: #c8c8c8;
}
#main .show span small{
	float: right;
}
.pagination>li>a{
	background: none;
	border: 0;
	color: #000;
}
.pagination .active a{
	border-radius: 50%;
}
.pagination{
	margin-bottom: 50px;
}
#foot{
	margin-top: 30px;
}
#foot .col-md-12 p{
	line-height: 30px;
	padding-bottom: 30px;
	border-bottom: 1px solid #eaeaea;
}
#foot .col-md-12 p a{
	color: #999999;
	padding-right: 30px;
}
#foot .col-md-7 a{
	color: #999999;
	line-height: 40px;
}
#foot .col-md-7 {
	margin-top: 100px;
	border-right: 1px solid #eaeaea;
}
/*#foot .col-md-5 .col-md-8{
	font-size: 20px;
}*/
#foot .col-md-5 .col-md-8 .tel{
	font-weight: 600;
	font-size: 20px;
}
#foot .col-md-5 .col-md-8 p{
	line-height: 20px;
}
#foot .col-md-5 .col-md-8 h5{
	margin-top: 20px;
}
#foot .col-md-5 .col-md-4{
	margin-top: 130px;
}
#foot .hidden-xs h6{
	margin-top: 50px;
	margin-bottom: 50px;
	color: #999999;
}
#foot .hidden-xs h6 span{
	margin-top: 50px;
	color: #f00;
	margin-right: 15px;
}
#footer{
	background: #fafafa;
	padding:40px 0;
}
#footer p{
	color: #999999;
}
#footer .last{
	position: relative;
}
#footer .last .pic{
	position: absolute;
	top: 0;
	left: 680px;
}